 <div class="row">
    <div class="row bottom-footer text-center-mobile">
        <div class="col-sm-8">
            <a href="http://fr.lutece.paris.fr" title="#i18n{portal.site.portal_footer.labelPortal}">
                <img src="images/poweredby.jpg" width="55" height="22" alt="#i18n{portal.site.portal_footer.labelMadeBy}" />
            </a>
        </div>
        <div class="col-sm-4 text-right text-center-mobile">
            <ul class="social-footer">
                <li><a href="https://www.facebook.com/BmoreMD/" target="_blank"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://twitter.com/baltimoremd" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</div>